body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
}
h3, h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 10px;      
	font-size: 20px;
	color: #111;
}
.container {
	padding: 80px 0px;
}
.container1 {
	padding: 45px 20px;
}
.containerTeam {
	padding: 50px 0px;
}
.containerNew {
	padding: 55px 0px;
}
.wrapper {
	padding: 20px 30px;
}
.teamInfo{
	background: rgba(5, 0, 209, 0.04);
	padding: 5px;
}
.indexItem{
	text-align: center;
	position: relative;
	overflow: hidden;
	text-decoration: none;

}
#loading-bar .bar {
  position: relative;
}
.team {
	/*
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
	*/
	overflow:hidden;
}
.team:hover {
	border-color: #f1f1f1;
}
.carousel-inner img {
	/*
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);  make all photos black and white  
	*/
	width: 100%; /* Set width to 100% */
	margin: auto;
}
.carousel-caption h3 {
	color: #fff !important;
}
.test
{

}
@media (max-width: 600px) {
	.carousel-caption {
		display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
	}
	.fixtures
	{
		margin: 0 -1rem;
	}
	.post .sc_image img { display: none; }  

}
}
.fixtures matchlist{
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 2rem;
	clear: both;
	border-top: 1px solid
}

.bg-1 {
	background: #2d2d30;
	color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}
.thumbnail p {
	margin-top: 15px;
	color: #555;
}
.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}
.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}
.modal-header, h4, .close {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}
.modal-header, .modal-body {
	padding: 40px 50px;
}
.nav-tabs li a {
	color: #777;
}
#googleMap {
	width: 100%;
	height: 400px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}  
.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
	color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
	color: #fff !important;
}
.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.open .dropdown-toggle {
	color: #fff;
	background-color: #555 !important;
}
.dropdown-menu li a {
	color: #000 !important;
}
.dropdown-menu li a:hover {
	background-color: red !important;
}
footer {
	background-color: #2d2d30;
	color: #f5f5f5;
	padding: 32px;
}
footer a {
	color: #f5f5f5;
}
footer a:hover {
	color: #777;
	text-decoration: none;
}  
.form-control {
	border-radius: 0;
}
textarea {
	resize: none;
}
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 100;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(loader.gif) center no-repeat #fff;
}

.clubHero {
	position: relative;
	/*margin-top: -2rem;
	padding: 4rem 0 8rem;*/
	overflow: hidden;
	color: #333;
}

.clubColorBg {
	color: #fff;
	background-image: url(../images/field6.jpg);

}

.wrapper {
	position: relative;
	z-index: 5;
}
.clubDetailsContainer {
	position: relative;
	z-index: 10;
}
.badgeContainer {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2rem;
	padding: 10px 10px;
	width: 10%;
}
.clubDetails {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}

.team1 {
	font-size: 5rem;
	line-height: 1;
}
.playerOverviewCard {
	position: relative;
	text-decoration: none;
	color: #242424;
	border: 1px solid #e8e8e8;
	display: block;
	border-radius: 3px;

	min-height: 18rem;
	min-width: 18rem;
	/*	margin:2px;*/
}

.fixtures
{

}

.fixtures .date {
	display: block;
	font-size: 1.6rem;
	line-height: 3rem;
	float: left;
	font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
}

.fixtures .competition {
	max-width: 65%;
	margin-bottom: 2rem;
	padding-right: 1rem;
	text-align: right;
}

.fixtures .matchList {
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 2rem;
	clear: both;
}

.fixtures .matchList>li {
	border-top: 1px solid #e8e8e8;
}
.matchFixtureContainer {
	position: relative;
}

.overview {
	display: block;
	padding: .5rem 4rem .5rem 0;
	min-height: 4rem;
}
.fixture .teams {
	margin-right: -4px;
	width:42%;

}

.fixture--large .team, .fixture .team {
	width: 50%;
	padding-left: 7.5rem;
	position: relative;
}

.teamName {
	font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.badge-25 {
	position: absolute;
	top: 50%;
	margin-top: -12.5px;
}

.fixture .score {
	background: #38003c;
	font-size: 1.4rem;
	color: #fff;
}

.fixture .overview .score, .fixture .overview time {
	line-height: 3rem;
}

.fixture .team:first-of-type {
	text-align: right;
	padding-left: 0;
	padding-right: 7.5rem;
}
.loss{
	border-radius:50%;padding:15px;background-color:red;color:white;
}
.win{
	border-radius:50%;padding:15px;background-color:green;color:white;
}
.draw{
	border-radius:50%;padding:15px;background-color:grey;color:white;
}
.score{
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:10px;
	background-color:grey;color:white;
}

.result{
	padding:10px;
}

